*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
}
img {
	max-width: 100%;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.welcome-page {
	height: 100vh;
	background-color: #060606;
	background-image: url("/jigsaw-bg.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
	padding: 1rem;
}

.welcome-page-animation {
	animation: invertColors 0.2s, biggerJigSaw 5s;
}

@keyframes invertColors {
	0% {
		filter: invert();
	}
}

@keyframes biggerJigSaw {
	0% {
		background-size: 120%;
		background-position: bottom 70% right 50%;
	}

	100% {
		background-size: 120%;
		background-position: bottom 70% right 50%;
	}
}
.welcome-page--wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome--text {
	margin-top: 5%;
}

.welcome--text h1,
.welcome--text h2 {
	color: crimson;
}

.welcome--text h1 {
	font-size: clamp(3rem, 4vw, 5rem);
	margin-bottom: 20px;
}

.welcome--text h2 {
	font-size: clamp(1.5rem, 0.5vw, 3rem);
	margin-left: 5px;
}

.welcome--start-btn-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	align-items: flex-start;
	gap: 1rem;
}

.welcome--start-btn {
	background: none;
	border: none;
	font-family: inherit;
	color: white;
	font-weight: 800;
	font-size: clamp(2rem, 3vw, 5rem);
	cursor: pointer;
}

.welcome--start-btn:hover {
	color: crimson;
}

.welcome--start-btn:active {
	transform: scale(98%);
}

.riddle-main {
	background: #0f0f0f;
	height: 100vh;
	animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 50;
	}

	100% {
		opacity: 100;
	}
}

.riddle-header {
	padding: 0 1rem;
	width: 100%;
	height: 40px;
	background: hsl(348, 83%, 47%, 0.6);
	display: flex;
}

.riddle-header h1 {
	color: black;
	font-size: 1.2rem;
	cursor: pointer;
}

.riddle-header h2 {
	color: white;
}

.riddle-header-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.centralizar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.dica {
	margin-block: 1rem;
	color: white;
	font-size: 1.4rem;
	text-align: center;
	font-weight: 700;
}

.riddle-img {
	width: 700px;
	border-radius: 10px;
}

.riddle--img-wrapper {
	position: relative;
}

.riddle--tip-btn {
	position: absolute;
	background: url("/lightbulb.svg");
	background-size: contain;
	width: 30px;
	aspect-ratio: 1;
	outline: none;
	border: none;
	bottom: 10px;
	right: 10px;
	opacity: 50%;
	cursor: pointer;
}

.riddle--tip-btn:hover,
.riddle--tip-btn:active {
	opacity: 100;
}

.extra-tip {
	color: yellow;
	opacity: 80%;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 10px;
}
.riddle--form {
	gap: 2rem;
	width: 100%;
}

.input-answer {
	margin-top: 20px;
	padding: 5px 10px;
	width: 80%;
	max-width: 400px;
	outline: none;
	font-size: 1.2rem;
}

.input-answer::placeholder {
	text-align: center;
}

.riddle--form--btn {
	width: 40%;
	max-width: 150px;
	padding: 10px 20px;
	text-align: center;
	font-family: inherit;
	font-weight: 700;
	background-color: crimson;
	color: rgb(233, 233, 233);
	cursor: pointer;
	border: none;
}

.wrong-answer {
	margin-top: 30px;
	font-size: 3rem;
	color: crimson;
	animation: showWrongAnswer 800ms ease;
}

@keyframes showWrongAnswer {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 100;
	}

	100% {
		opacity: 0;
	}
}

@media (max-width: 500px) {
	@keyframes biggerJigSaw {
		0% {
			background-size: 200%;
			background-position: bottom 0 right 50%;
		}

		100% {
			background-size: 200%;
			background-position: bottom 0 right 50%;
		}
	}
}
